/* write your override styles here */
#wall .tag-1 {
    display: none;
}

#tag-3 .slickwicked {
    display: none;
    background: blueviolet;
}

#wall .parent > div {
    background-color: white;
    color: black;
    font-size: 16px;
}

#wall .parent:last-child #tag-5 {
    background-color: blue;
    color: white;
    display: none;
}
